In [6]:
import pandas as pd

data = pd.read_csv('dodgeball-data-autumn-2023.csv')

data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player Id           373 non-null    object
 1   Competition         373 non-null    object
 2   Opponent Id         373 non-null    int64
 3   Game Id             373 non-null    int64
 4   Game Result         373 non-null    object
 5   Set                 373 non-null    int64
 6   Half                373 non-null    int64
 7   Set Result          373 non-null    object
 8   Throws              319 non-null    float64
 9   Blocked             113 non-null    float64
 10  Dodged              173 non-null    float64
 11  Caught Out          20 non-null     float64
 12  Hit But Caught      4 non-null      float64
 13  Offensive Outs      130 non-null    float64
 14  Defensive Outs      127 non-null    float64
 15  Total Outs          373 non-null    int64
 16  Total On Target     373 non-null    int64
 17  Defensive Catch     14 non-null     float64
 18  Defensive Block     80 non-null     float64
 19  Defensive Dodge     211 non-null    float64
 20  Deflected Catch     1 non-null      float64
 21  Dropped Catch       0 non-null      float64
 22  Hit & Caught        1 non-null      float64
 23  Hit Out Off         85 non-null     float64
 24  Hit Out Def         115 non-null    float64
 25  Line Out            4 non-null      float64
 26  Time on Court       373 non-null    int64
 27  Total Time          373 non-null    int64
 28  Hit Out Total       373 non-null    int64
 29  Thrown At Total     373 non-null    int64
 30  Total Offense Outs  373 non-null    int64
 31  Total Defense Outs  373 non-null    int64
 32  Unnamed: 32         1 non-null      object
dtypes: float64(16), int64(12), object(5)
memory usage: 96.3+ KB